#basic .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#basic .trigger:hover {
  color: @primary-color;
}

#basic .logo {
  height: 32px;
  margin: 16px;
  img {
    width: 32px;
    height: 32px;
  }
}

#basic .background {
  background: #fff;
}
